body{
    margin: 0;
    height: 100vh;
}

canvas{
    display:block;
}
h1{
    position: absolute;
    top: 0em;
    left: 5em;
    font-family: 'Alef';
    font-size: 2em;
    text-transform: uppercase;
    width: auto;
    line-height: 0.8em;
    border: 5px solid black;
    padding: .2em;
}